# Logs
logs
*.log
shiny.log
shiny.err

# R local library & session files
.r-lib/
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Uploaded user data
uploads/

# Build / temp outputs
temp_bin/
*.tmp
*.temp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
